# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
*
!*.c
!.travis.yml
!Makefile
!README.md
!.gitignore